<div class="jumbotron">
  <h1 class="display-4">Izrada obrazaca za OZS</h1>
  <p class="lead">Ovo je jednostavan softer za ispunjavanje, pohranu i ispis obrazaca za izdavanje zaštitne  odjeće i obuće te zaštitnih sredstava.</p>
  <hr class="my-4">
  <h3>Kako ispuniti obrazac:</h3>
  <p>Na vrhu stranice nalazi se navigacijska traka. Ona sadrži nekoliko poveznica. Svaka od poveznica vodi do specifičnog dijela koji je potrebno popuniti. Obavezno je popuniti <u>podatke o radniku</u> te <u>podatke o iznimnom izdavanju</u> ili <u>podatke o izvanrednom izdavanju</u></p>
  <p><strong>Iznimno izdavanje:</strong> koristi se u slučajevima kada radnik prvi puta u tvrtki zadužuje sredstvo, bilo da se prvi puta zapošljava u poduzeću ili mijenja mijesto rada, a za isto su predviđena druga zaštitna sredstva.</p>
  <p><strong>Izvanredno izdavanje:</strong> koristi se u slučajevima kada je zbog oštećenja ili uništenja sredstva potrebno radniku izdati novo.</p>
  <p><strong>Dodatna napomena:</strong> jedan radnik može imati izvanredno ili iznimno izdavanje, ali i oba izdavanja!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/worker/new" role="button">Kreiraj novi obrazac</a>
  </p>
</div>
