<ul class="nav nav-tabs">
  <li class="nav-item" >
    <a class="nav-link " routerLinkActive="active" routerLink="/cms/statistics">Statistika</a>
  </li>
  <li class="nav-item"  >
    <a class="nav-link" routerLinkActive="active" routerLink="/cms/workplace-data">Podaci o radnim mjestima</a>
  </li>
  <li class="nav-item"  >
    <a class="nav-link" routerLinkActive="active" routerLink="/cms/ozs-data">Podaci o zaštitnoj opremi</a>
  </li>
  <li class="nav-item"  >
    <a class="nav-link" routerLinkActive="active" routerLink="/cms/business-unit">Podaci o organizacijskim jedinicama</a>
  </li>
  <li class="nav-item"  >
    <a class="nav-link" routerLinkActive="active" routerLink="/cms/user-data">Podaci o korisnicima</a>
  </li>
</ul>

<router-outlet></router-outlet>