
<div class="card">
    <div class="card-header">Podaci za ispis</div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table  class="table table-bordered table-striped">
          <thead class="thead-light">
      <tr>
        <th>Redni broj</th>
        <th>Šifra OZS-a</th> 
        <th>Naziv OZS-a</th>
        <th>Veličinski broj</th>
        <th>kom/par</th> 
        <th>Odgovornost</th>
        <th>Vrijeme korištenja</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of extraordinarilyModel; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.mean_name.id }}</td> 
        <td>{{ item.mean_name.so }}</td>
        <td>{{ item.mean_size | uppercase }}</td>
        <td>{{ item.quantity }}</td> 
        <td>{{ item.responsibility }}</td>  
        <td>{{ item.mydaterange.beginDate.day }}.{{ item.mydaterange.beginDate.month }}.{{ item.mydaterange.beginDate.year }} - {{ item.mydaterange.endDate.day }}.{{ item.mydaterange.endDate.month }}.{{ item.mydaterange.endDate.year }}</td> 
        <td>
          <button type="button" class="btn btn-sm btn-primary" (click)="onEditExtraordinarily(i)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-sm btn-danger" (click)="onDeleteExtraordinarily(i)"><i class="fas fa-trash-alt"></i></button>
        </td> 
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
