
<div class="container-fluid" style="padding-top: 20px">
  <div class="row">
  

    <div class="col-xl-4">


        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Odabir jedinice</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->


      
      <ul class="list-group">
        <li class="list-group-item active">RJ Zagreb</li>
        <li class="list-group-item">Skladište</li>
        <li class="list-group-item">Nabava</li>
        <li class="list-group-item">RJ Rijeka</li>
        <li class="list-group-item">Uprava</li>
        <li class="list-group-item">RJ Vinkovci</li>
        <li class="list-group-item">Zaštita</li>
        <li class="list-group-item">Konstrukcije</li>
        <li class="list-group-item">RJ Split</li>
        <li class="list-group-item">Financije</li>
      </ul>

    </div>
  </div>


    </div>


    <div class="col-xl-4">


      <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Odabir radnika</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->


    
    <ul class="list-group">
      <li class="list-group-item active">Pero Perić</li>
      <li class="list-group-item">Hrvoje Horvat</li>
      <li class="list-group-item">Tomislav Tomić</li>
      <li class="list-group-item">Ivana Ivić</li>
      <li class="list-group-item">Vid Vidović</li>
      
    </ul>

  </div>
</div>


  </div>


    <div class="col-xl-4">





    <!-- </div>



    <div class="col-xl-3"> -->


        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Detalji i uređivanje</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->


        
        <p><b>Naziv jedinice: </b> RJ Zagreb</p>
        <p><b>Ulica: </b> Strojarska ulica</p>
        <p><b>Kučni broj: </b> 11 </p>
        <p><b>Grad: </b> Zagreb</p>
        <hr>
        <p><b>Odgovorna osoba: </b> Hrvoje Horvat</p>
        <button type="submit" class="btn btn-info mb-2">Izmjeni</button>
        <button type="submit" class="btn btn-danger mb-2">Obriši</button>


      </div>
    </div>



    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Podaci o radniku</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->


<form>
  
  <div class="form-group">
    <label for="unit_name">Jedinica za koju radnik unosi podatke</label>
    <input type="text" class="form-control" id="unit_name" placeholder="Unesi naziv jedinice">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Ime radnika</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesi ime radnika">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Prezime radnika</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesi prezime radnika">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Odabir radnog mjesta</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesi kućni broj">
  </div>
  <!-- <div class="form-group">
    <label for="exampleInputPassword1">Ime odgovorne osobe</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Upiši ime odgovorne osobe">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Prezime odgovorne osobe</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Upiši prezime odgovorne osobe">
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 

</div>
</div>




    </div>
  </div>
</div>


